body {
    margin: 0;
    max-height: 100vh;
    background-color: #ecfeff;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 0 6px #1c748f;
    width: 100%;   
    background-image: linear-gradient(to right, #a5f3fc, #06b6d4);
}

.login-btn {
    width: 80px;
    height:50px;
    background-color: #cffafe;
    border: none;
    border-radius: 5px;
    margin-right: 2em;
    cursor: pointer;
}

.content-contaier {
    display: flex;
    max-width: 300px;
}

.add-book {
    position: fixed;
    top: 30%;
    left: 45%;
    width: 80px;
    height:50px;
    background-color: #cffafe;
    border: none;
    border-radius: 5px;
    margin-right: 2em;
    cursor: pointer;
}

.add-book::before {
    content: url(Icon/book.png);
}

.form-container{
    display: flex;
    max-width: 300px;
    padding: 10px;
    background-color: #06b6d4;
}

.form-container input[type=text] {
    width: 95%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container button {
    padding: 10px;
    margin-top: 15px;
    margin-left: 40%;
    background-color: #cffafe;
    border: none;
    border-radius: 5px;
  }

.form-popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 40%;
    border: 2px solid #a5f3fc;
  }
